#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.logo {
  height: 4em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.hero {
  height: 75vh; 
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 3rem;
  padding-top: 0;
}

#projects {
  align-items: center;
}

.project-div img {
  height: 70vh;
  width: 69vw;
}

.project-div {
  background-color: #2E633F;
  padding-top: 0;
  margin: 0;
}

.project-list{
  background-color: #404040;
  justify-content: space-between;
  padding: 2vw;
  width:80vw;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  border-radius: 20px;
}

div{
  color: azure;
  opacity: 0.99;
}

main {
  margin: 0 auto;
  opacity: 0.99;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

section {
  background-color: #404040;
  margin: 2vh;
  padding: 1vh;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #404040;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.5rem 2rem;
}

body {
  padding-top: 70px;
}

h2 {
  font-size: 2.4rem;
}

.project-div a{
  margin: 0.2rem;
  text-align: left;
  float: left;
  color: azure;
  text-emphasis-color: azure;
  margin: 1vh;
  padding: 1vh;
  font-size: 2.5vh;
}

.project-div a:visited {
  color: azure;
}

.project-div a:hover {
  color: aquamarine;
}

nav {
  display: flex;
  gap: 20px;
  padding: 0.5em;
  padding-right: 2.5em;
}

button{
  height: 4rem;
  width: 8rem;
  margin: .5rem;
  margin-top: 0;
  font-size: 50rem;
}

#contact-info a {
  font-size: 1.5em;
  margin-left: 1vw;
  margin-right: 1vw;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#about-me  p {
  font-size: 1.35rem;
  text-align: left;
  max-width: 63%;
}

#about-me .row{
  display: flex;
  flex-wrap: wrap;
}

#about-me img {
  height: 60vh;
  max-width: 90%;
}